Repository ArturoRoberti/gurk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, format-yaml, format-json, clang-format, clang-tidy

.pre-commit-config.yaml:

repos:
# Core pre-commit hooks (general purpose)
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-json
  - id: check-merge-conflict
  - id: detect-private-key
# YAML checking with ruamel.yaml (supports custom !join tag)
- repo: local
  hooks:
  - id: check-yaml
    name: Check YAML with ruamel support
    entry: python3 .github/scripts/check_yaml.py
    language: python
    additional_dependencies: [ruamel.yaml]
    files: \.ya?ml$
# Formatting for shell scripts
- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.9.0-1
  hooks:
  - id: shfmt
    args: ["-i", "2", "-ci", "-w"]
# Shell script linting
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args: ["--severity=error"]
# Auto-format YAML and JSON(C) files (local hooks)
- repo: local
  hooks:
  - id: format-yaml
    name: Auto-format YAML files
    entry: python3 .github/scripts/format_yaml.py
    language: python
    additional_dependencies: [ruamel.yaml]
    files: \.ya?ml$
  - id: format-json
    name: Check & Auto-format JSON(C) files
    entry: python3 .github/scripts/format_jsonc.py
    language: python
    additional_dependencies: [commentjson]
    files: \.jsonc?$
# Python formatting and linting
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.10.1
  hooks:
  - id: isort
    language_version: python3
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black
    language_version: python3
    args: ["--line-length=79"]
- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    language_version: python3
# C++ formatting and linting
- repo: local
  hooks:
  - id: clang-format
    name: Format C++ files with clang-format
    entry: clang-format -i
    language: system
    files: \.(hpp|cpp|tpp|cc|h|c)$
- repo: local
  hooks:
  - id: clang-tidy
    name: Lint C++ files with clang-tidy
    entry: clang-tidy
    language: system
    files: \.(hpp|cpp|tpp|cc|h|c)$
# Security scan for secrets
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.18.2
  hooks:
  - id: gitleaks
    args: ["--no-banner", "protect", "--staged"]
# Bump pyproject.toml version (if necessary)
- repo: local
  hooks:
  - id: bump-version
    name: Bump version in pyproject.toml
    entry: python3 .github/scripts/bump_version.py
    language: python
    additional_dependencies: [packaging, requests, toml]

Revise README formatting and title
  README.md
Due: none

Removed 'example' folder in preference of 'docs'
  example/README.md
Due: none

Added git repository caching
  pyproject.toml
  src/gurk/scripts/python/configure/simple_configurations.py
  src/gurk/scripts/python/helpers/processing.py
  src/gurk/utils/common.py
  src/gurk/utils/git_repos.py
  src/gurk/utils/interface.py
Due: none

Implemented a bunch of TODOs
  TODO.md
  src/gurk/cli/core.py
  src/gurk/core/scheduler.py
  src/gurk/core/task_processor.py
  src/gurk/scripts/bash/configure/simple_configurations.bash
  src/gurk/scripts/bash/helpers/_interface.bash
  src/gurk/scripts/bash/helpers/marking.bash
  src/gurk/scripts/bash/install/checks.bash
  src/gurk/scripts/bash/install/conda.bash
  src/gurk/scripts/bash/install/isaac.bash
  src/gurk/scripts/bash/install/nvidia.bash
  src/gurk/scripts/bash/install/simple_installations.bash
  src/gurk/scripts/python/helpers/_interface.py
  src/gurk/scripts/python/helpers/common.py
  src/gurk/scripts/python/install/environments.py
  src/gurk/scripts/python/install/package_managers.py
  src/gurk/utils/cli.py
  src/gurk/utils/patterns.py
Due: none

Fixed pty output tracebacks, carriage return handling and disabled color output
  TODO.md
  src/gurk/core/scheduler.py
  src/gurk/core/task_processor.py
  src/gurk/utils/patterns.py
Due: none

Updated syntax to python3.10
  .github/scripts/gurk_find_affected_tasks.py
  pyproject.toml
  src/gurk/cli/setup.py
  src/gurk/cli/utils.py
  src/gurk/core/logger.py
  src/gurk/core/scheduler.py
  src/gurk/core/task_processor.py
  src/gurk/scripts/python/configure/simple_configurations.py
  src/gurk/scripts/python/helpers/_interface.py
  src/gurk/scripts/python/helpers/processing.py
  src/gurk/scripts/python/install/environments.py
  src/gurk/scripts/python/install/js.py
  src/gurk/scripts/python/install/package_managers.py
  src/gurk/utils/cli.py
  src/gurk/utils/common.py
  src/gurk/utils/git_repos.py
  src/gurk/utils/interface.py
  src/gurk/utils/logger.py
  src/gurk/utils/patterns.py
  src/gurk/utils/scripts.py
  src/gurk/utils/system_info.py
  src/gurk/utils/tasks.py
  src/gurk/utils/yaml.py
  tests/configs.py
  tests/utils.py
Due: none

Fixed typing.Mapping issue
  src/gurk/utils/tasks.py
Due: none

Small fix for pytest prompt disabling
  tests/configs.py
  tests/tasks.py
Due: none

Small pytest task naming fix
  tests/tasks.py
Due: none

Fixed git cache dir issue
  src/gurk/utils/common.py
  src/gurk/utils/git_repos.py
Due: none

Multiple features (#20)
  .github/scripts/gurk_find_affected_tasks.py
  TODO.md
  example/README.md
  pyproject.toml
  src/gurk/cli/core.py
  src/gurk/cli/setup.py
  src/gurk/cli/utils.py
  src/gurk/core/logger.py
  src/gurk/core/scheduler.py
  src/gurk/core/task_processor.py
  src/gurk/scripts/bash/configure/simple_configurations.bash
  src/gurk/scripts/bash/helpers/_interface.bash
  src/gurk/scripts/bash/helpers/marking.bash
  src/gurk/scripts/bash/install/checks.bash
  src/gurk/scripts/bash/install/conda.bash
  src/gurk/scripts/bash/install/isaac.bash
  src/gurk/scripts/bash/install/nvidia.bash
  src/gurk/scripts/bash/install/simple_installations.bash
  src/gurk/scripts/python/configure/simple_configurations.py
  src/gurk/scripts/python/helpers/_interface.py
  src/gurk/scripts/python/helpers/common.py
  src/gurk/scripts/python/helpers/processing.py
  src/gurk/scripts/python/install/environments.py
  src/gurk/scripts/python/install/js.py
  src/gurk/scripts/python/install/package_managers.py
  src/gurk/utils/cli.py
  src/gurk/utils/common.py
  src/gurk/utils/git_repos.py
  src/gurk/utils/interface.py
  src/gurk/utils/logger.py
  src/gurk/utils/patterns.py
  src/gurk/utils/scripts.py
  src/gurk/utils/system_info.py
  src/gurk/utils/tasks.py
  src/gurk/utils/yaml.py
  tests/configs.py
  tests/tasks.py
  tests/utils.py
Due: none

Updated CLI and some utils. Main changes to core, task processor, etc. still ToDo
  src/gurk/cli/check.py
  src/gurk/cli/help.py
  src/gurk/cli/pull.py
  src/gurk/cli/remove.py
  src/gurk/cli/run.py
  src/gurk/cli/template.py
  src/gurk/cli/update.py
  src/gurk/cli/utils.py
  src/gurk/core/task_processor.py
  src/gurk/main.py
  src/gurk/plugin/__init__.py
  src/gurk/plugin/check_cmd.py
  src/gurk/plugin/create_cmd.py
  src/gurk/plugin/import_cmd.py
  src/gurk/plugin/remove_cmd.py
  src/gurk/plugin/update_cmd.py
  src/gurk/plugin/utils.py
  src/gurk/plugins/conda/gurk-plugin.yaml
  src/gurk/plugins/conda/scripts/conda_environments.py
  src/gurk/plugins/docker/gurk-plugin.yaml
  src/gurk/plugins/docker/scripts/docker_images.py
  src/gurk/plugins/fzf/gurk-plugin.yaml
  src/gurk/plugins/gurk/gurk-plugin.yaml
  src/gurk/plugins/nvidia/gurk-plugin.yaml
  src/gurk/plugins/pip/gurk-plugin.yaml
  src/gurk/plugins/ros/gurk-plugin.yaml
  src/gurk/plugins/template/gurk-plugin.yaml
  src/gurk/plugins/vscode/gurk-plugin.yaml
  src/gurk/utils/cli.py
  src/gurk/utils/common.py
  src/gurk/utils/patterns.py
  src/gurk/utils/scripts.py
  src/gurk/utils/tasks.py
  src/gurk/utils/validate.py
Due: check-yaml, format-yaml

A bunch of changes, ready to edit TaskProcessor and Scheduler
  .github/scripts/gurk_find_affected_tasks.py
  src/gurk/cli/check.py
  src/gurk/cli/help.py
  src/gurk/cli/plugin.py
  src/gurk/cli/pull.py
  src/gurk/cli/remove.py
  src/gurk/cli/run.py
  src/gurk/cli/template.py
  src/gurk/cli/update.py
  src/gurk/lib/core/plugin_utils.py
  src/gurk/lib/core/task_processor.py
  src/gurk/lib/logger/__init__.py
  src/gurk/lib/logger/context.py
  src/gurk/lib/logger/logger.py
  src/gurk/lib/utils/cli.py
  src/gurk/lib/utils/scripts.py
  src/gurk/lib/utils/tasks.py
  src/gurk/lib/utils/typed_dict.py
  src/gurk/lib/utils/validate.py
  src/gurk/lib/utils/yaml.py
  tests/scripts.py
Due: none

Check run args. For this, GurkArgumentParser is moved to plugin_utils.py
  docs/dev/scripts.md
  src/gurk/__init__.py
  src/gurk/cli/check.py
  src/gurk/cli/help.py
  src/gurk/cli/pull.py
  src/gurk/cli/remove.py
  src/gurk/cli/run.py
  src/gurk/cli/template.py
  src/gurk/cli/update.py
  src/gurk/lib/core/core.py
  src/gurk/lib/core/plugin_utils.py
  src/gurk/lib/core/processor.py
  src/gurk/lib/helpers/__init__.py
  src/gurk/lib/helpers/bash/task_parser.bash
  src/gurk/lib/helpers/python/task_parser.py
  src/gurk/lib/utils/__init__.py
  src/gurk/lib/utils/cli.py
  src/gurk/plugins/conda/scripts/conda_environments.py
  src/gurk/plugins/docker/scripts/docker_images.py
  src/gurk/plugins/gurk/scripts/configurations.py
  src/gurk/plugins/gurk/scripts/js_repositories.py
  src/gurk/plugins/gurk/scripts/package_managers.py
  src/gurk/plugins/pip/scripts/installations.py
  src/gurk/plugins/template/scripts/another_script.py
  src/gurk/plugins/vscode/scripts/configurations.py
  src/gurk/plugins/vscode/scripts/installations.py
Due: none

Split gurk plugin metadata into pyproject.toml file
  src/gurk/cli/help.py
  src/gurk/cli/run.py
  src/gurk/lib/core/plugin_utils.py
  src/gurk/plugins/conda/gurk-plugin.yaml
  src/gurk/plugins/conda/pyproject.toml
  src/gurk/plugins/docker/gurk-plugin.yaml
  src/gurk/plugins/docker/pyproject.toml
  src/gurk/plugins/fzf/gurk-plugin.yaml
  src/gurk/plugins/fzf/pyproject.toml
  src/gurk/plugins/gurk/gurk-plugin.yaml
  src/gurk/plugins/gurk/pyproject.toml
  src/gurk/plugins/nvidia/gurk-plugin.yaml
  src/gurk/plugins/nvidia/pyproject.toml
  src/gurk/plugins/pip/gurk-plugin.yaml
  src/gurk/plugins/pip/pyproject.toml
  src/gurk/plugins/ros/gurk-plugin.yaml
  src/gurk/plugins/ros/pyproject.toml
  src/gurk/plugins/template/TODO
  src/gurk/plugins/template/gurk-plugin.yaml
  src/gurk/plugins/template/pyproject.toml
  src/gurk/plugins/vscode/gurk-plugin.yaml
  src/gurk/plugins/vscode/pyproject.toml
Due: check-yaml, format-yaml

Updated 'gurk help' command
  .github/scripts/format_jsonc.py
  .github/scripts/format_yaml.py
  src/gurk/cli/help.py
  src/gurk/cli/info.py
  src/gurk/cli/setup.py
  src/gurk/lib/core/core.py
  src/gurk/lib/core/plugin_utils.py
  src/gurk/lib/core/scheduler.py
  src/gurk/lib/logger/context.py
  src/gurk/lib/logger/logger.py
  src/gurk/lib/utils/common.py
  src/gurk/lib/utils/interface.py
  src/gurk/lib/utils/patterns.py
  src/gurk/lib/utils/remotes.py
  src/gurk/lib/utils/system_info.py
  src/gurk/lib/utils/yaml.py
Due: none

Minor updates
  src/gurk/cli/check.py
  src/gurk/cli/help.py
  src/gurk/cli/pull.py
  src/gurk/cli/run.py
  src/gurk/cli/template.py
  src/gurk/lib/core/plugin_utils.py
  src/gurk/lib/core/processor.py
  src/gurk/lib/core/scheduler.py
  src/gurk/lib/logger/logger.py
  src/gurk/plugins/conda/gurk-manifest.yaml
  src/gurk/plugins/docker/gurk-manifest.yaml
  src/gurk/plugins/fzf/gurk-manifest.yaml
  src/gurk/plugins/gurk/gurk-manifest.yaml
  src/gurk/plugins/nvidia/gurk-manifest.yaml
  src/gurk/plugins/nvidia/scripts/checks.bash
  src/gurk/plugins/nvidia/scripts/nvidia.bash
  src/gurk/plugins/pip/gurk-manifest.yaml
  src/gurk/plugins/ros/gurk-manifest.yaml
  src/gurk/plugins/template/gurk-manifest.yaml
  src/gurk/plugins/vscode/gurk-manifest.yaml
Due: check-yaml, format-yaml

Moved plugin utils
  .github/scripts/gurk_find_affected_tasks.py
  src/gurk/cli/check.py
  src/gurk/cli/help.py
  src/gurk/cli/pull.py
  src/gurk/cli/remove.py
  src/gurk/cli/run.py
  src/gurk/cli/template.py
  src/gurk/cli/update.py
  src/gurk/lib/core/core.py
  src/gurk/lib/core/processor.py
  src/gurk/lib/helpers/bash/task_parser.bash
  src/gurk/lib/helpers/python/task_parser.py
  src/gurk/lib/utils/plugins.py
  tests/scripts.py
Due: none

Added plugin venvs
  .github/scripts/bump_versions.py
  .github/scripts/gurk_find_affected_tasks.py
  .github/scripts/utils.py
  .pre-commit-config.yaml
  src/gurk/cli/pull.py
  src/gurk/lib/core/scheduler.py
  src/gurk/lib/helpers/bash/interface.bash
  src/gurk/lib/utils/common.py
  src/gurk/lib/utils/interface.py
  src/gurk/lib/utils/plugins.py
  src/gurk/lib/utils/remotes.py
  src/gurk/lib/utils/scripts.py
Due: check-yaml, format-yaml

Added periodic plugin update
  .github/scripts/gurk_find_affected_tasks.py
  .github/scripts/gurk_update_plugins.py
  .github/workflows/reusable-pre-commit.yml
  .github/workflows/update.yml
  src/gurk/cli/pull.py
  src/gurk/cli/remove.py
  src/gurk/cli/upgrade.py
  src/gurk/lib/helpers/bash/interface.bash
  src/gurk/lib/logger/context.py
  src/gurk/lib/logger/logger.py
  src/gurk/lib/utils/cli.py
  src/gurk/lib/utils/interface.py
  src/gurk/lib/utils/remotes.py
  src/gurk/lib/utils/scripts.py
  src/gurk/lib/utils/tasks.py
Due: check-yaml, format-yaml

Updated pytests
  .github/workflows/reusable-pytests.yml
  pyproject.toml
  src/gurk/cli/run.py
  src/gurk/cli/utils.py
  src/gurk/lib/core/core.py
  src/gurk/lib/core/processor.py
  src/gurk/lib/utils/common.py
  src/gurk/lib/utils/configs.py
  src/gurk/lib/utils/scripts.py
  src/gurk/main.py
  tests/configs.py
  tests/scripts.py
  tests/tasks.py
  tests/utils.py
Due: check-yaml, format-yaml

Updated docs
  .github/workflows/ci-workflow.yml
  .github/workflows/reusable-branch-name.yml
  .github/workflows/versioning.yml
  README.md
  docs/dev/args.md
  docs/dev/commands.md
  docs/dev/configs.md
  docs/dev/plugins.md
  docs/dev/pre_commit.md
  docs/dev/processor.md
  docs/dev/pytests.md
  docs/dev/scheduler.md
  docs/dev/scripts.md
  docs/dev/task_processor.md
  docs/dev/tasks.md
  docs/dev/utils.md
  docs/dev/workflows.md
  docs/knowledge/commands.md
  docs/knowledge/configs.md
  docs/knowledge/develop_plugins.md
  docs/knowledge/manage_plugins.md
  docs/knowledge/run_tasks.md
  docs/knowledge/setup.md
  src/gurk/cli/help.py
  src/gurk/cli/pull.py
  src/gurk/cli/utils.py
  src/gurk/lib/helpers/bash/task_parser.bash
  src/gurk/lib/utils/plugins.py
  src/gurk/main.py
  tests/tasks.py
Due: check-yaml, format-yaml

Added username to SystemInfo
  docs/dev/scripts.md
  src/gurk/lib/helpers/bash/common.bash
  src/gurk/lib/helpers/bash/interface.bash
  src/gurk/lib/helpers/bash/marking.bash
  src/gurk/lib/helpers/bash/processing.bash
  src/gurk/lib/helpers/bash/task_parser.bash
  src/gurk/lib/helpers/python/common.py
  src/gurk/lib/utils/system_info.py
  src/gurk/plugins/conda/scripts/checks.bash
  src/gurk/plugins/conda/scripts/conda.bash
  src/gurk/plugins/docker/scripts/checks.bash
  src/gurk/plugins/docker/scripts/docker.bash
  src/gurk/plugins/fzf/scripts/checks.bash
  src/gurk/plugins/fzf/scripts/installations.bash
  src/gurk/plugins/fzf/scripts/uninstallations.bash
  src/gurk/plugins/gurk/scripts/checks.bash
  src/gurk/plugins/gurk/scripts/configurations.bash
  src/gurk/plugins/gurk/scripts/configurations.py
  src/gurk/plugins/nvidia/scripts/checks.bash
  src/gurk/plugins/nvidia/scripts/isaac.bash
  src/gurk/plugins/nvidia/scripts/nvidia.bash
  src/gurk/plugins/ros/scripts/checks.bash
  src/gurk/plugins/ros/scripts/ros.bash
  src/gurk/plugins/template/scripts/some_script.bash
  src/gurk/plugins/vscode/scripts/checks.bash
  src/gurk/plugins/vscode/scripts/installations.bash
Due: none

Updated git caching, yaml/toml loading and added 'gurk init' and example gurk plugin
  .github/scripts/gurk_find_affected_tasks.py
  .github/scripts/gurk_update_plugins.py
  .vscode/settings.json
  TODO.md
  docs/knowledge/manage_plugins.md
  pyproject.toml
  src/gurk/cli/init.py
  src/gurk/cli/pull.py
  src/gurk/cli/remove.py
  src/gurk/cli/run.py
  src/gurk/cli/template.py
  src/gurk/lib/core/processor.py
  src/gurk/lib/helpers/bash/task_parser.bash
  src/gurk/lib/logger/logger.py
  src/gurk/lib/utils/__init__.py
  src/gurk/lib/utils/configs.py
  src/gurk/lib/utils/interface.py
  src/gurk/lib/utils/plugins.py
  src/gurk/lib/utils/remotes.py
  src/gurk/lib/utils/scripts.py
  src/gurk/main.py
  src/gurk/plugins/conda/scripts/conda_environments.py
  src/gurk/plugins/gurk/scripts/configurations.py
  src/gurk/plugins/registry.yaml
  tests/tasks.py
Due: check-yaml, format-yaml, format-json

Updated git caching again
  src/gurk/lib/utils/remotes.py
Due: none

Improved logging
  README.md
  pyproject.toml
  src/gurk/cli/init.py
  src/gurk/cli/pull.py
  src/gurk/cli/remove.py
  src/gurk/cli/upgrade.py
  src/gurk/lib/utils/common.py
  src/gurk/lib/utils/plugins.py
  src/gurk/lib/utils/remotes.py
  src/gurk/lib/utils/system_info.py
  src/gurk/plugins/gurk/scripts/configurations.py
Due: none

Added title image
  README.md
  docs/assets/title_image.png
Due: none

Minor bug fixes
  README.md
  src/gurk/cli/help.py
  src/gurk/cli/run.py
  src/gurk/cli/template.py
  src/gurk/lib/helpers/python/task_parser.py
  src/gurk/lib/logger/logger.py
  src/gurk/lib/utils/cli.py
  src/gurk/lib/utils/interface.py
  src/gurk/lib/utils/plugins.py
  src/gurk/lib/utils/remotes.py
  src/gurk/lib/utils/scripts.py
  src/gurk/lib/utils/tasks.py
  src/gurk/lib/utils/typed_dict.py
  src/gurk/plugins/nvidia/gurk-manifest.yaml
Due: check-yaml, format-yaml

MAJOR: Changed plugin inputs to gurk commands and created common 'install_plugin' util
  .github/CONTRIBUTING.md
  .github/scripts/gurk_find_affected_tasks.py
  .github/scripts/gurk_update_plugins.py
  .github/scripts/utils.py
  TODO.md
  docs/dev/plugins.md
  docs/dev/workflows.md
  docs/knowledge/run_tasks.md
  pyproject.toml
  src/gurk/cli/check.py
  src/gurk/cli/help.py
  src/gurk/cli/init.py
  src/gurk/cli/pull.py
  src/gurk/cli/remove.py
  src/gurk/cli/run.py
  src/gurk/cli/setup.py
  src/gurk/cli/template.py
  src/gurk/cli/upgrade.py
  src/gurk/lib/core/processor.py
  src/gurk/lib/utils/interface.py
  src/gurk/lib/utils/plugins.py
  src/gurk/lib/utils/remotes.py
  src/gurk/lib/utils/tasks.py
  src/gurk/main.py
  src/gurk/plugins/conda/gurk-manifest.yaml
  src/gurk/plugins/docker/gurk-manifest.yaml
  src/gurk/plugins/fzf/gurk-manifest.yaml
  src/gurk/plugins/gurk/config/configure_filestructure.yaml
  src/gurk/plugins/gurk/gurk-manifest.yaml
  src/gurk/plugins/nvidia/gurk-manifest.yaml
  src/gurk/plugins/pip/gurk-manifest.yaml
  src/gurk/plugins/registry.yaml
  src/gurk/plugins/ros/gurk-manifest.yaml
  src/gurk/plugins/template/gurk-manifest.yaml
  src/gurk/plugins/vscode/gurk-manifest.yaml
  tests/tasks.py
Due: check-yaml, format-yaml

Checking that git is installed
  README.md
  docs/knowledge/run_tasks.md
  src/gurk/cli/pull.py
  src/gurk/cli/run.py
  src/gurk/cli/upgrade.py
  src/gurk/lib/utils/remotes.py
  src/gurk/plugins/registry.yaml
Due: check-yaml, format-yaml

Added 'gurk init' to pytest workflow
  .github/workflows/reusable-pytests.yml
  src/gurk/cli/upgrade.py
Due: check-yaml, format-yaml

Added full logging to file
  src/gurk/cli/check.py
  src/gurk/cli/help.py
  src/gurk/cli/init.py
  src/gurk/cli/pull.py
  src/gurk/cli/remove.py
  src/gurk/cli/run.py
  src/gurk/cli/setup.py
  src/gurk/cli/template.py
  src/gurk/cli/upgrade.py
  src/gurk/lib/core/context/logger.py
  src/gurk/lib/core/plugins/__init__.py
  src/gurk/lib/core/plugins/core.py
  src/gurk/lib/core/processor.py
  src/gurk/lib/helpers/bash/task_parser.bash
Due: none

Added askpass option for 'run' command and pytests
  .github/workflows/reusable-pytests.yml
  src/gurk/cli/_pytest.py
  src/gurk/cli/run.py
  src/gurk/cli/setup.py
  src/gurk/lib/core/context/logger.py
  src/gurk/lib/core/runner.py
  src/gurk/lib/utils/common.py
  src/gurk/lib/utils/runner.py
  src/gurk/main.py
  tests/tasks.py
Due: check-yaml, format-yaml

Refactor: decompose large files, clean up debug code, and replace wildcard imports
  src/gurk/__init__.py
  src/gurk/cli/upgrade.py
  src/gurk/lib/core/context/__init__.py
  src/gurk/lib/core/context/logger.py
  src/gurk/lib/core/context/logger_types.py
  src/gurk/lib/core/context/registry_manager.py
  src/gurk/lib/core/context/registry_queries.py
  src/gurk/lib/core/context/registry_types.py
  src/gurk/lib/core/plugins/__init__.py
  src/gurk/lib/core/plugins/check.py
  src/gurk/lib/core/plugins/common.py
  src/gurk/lib/core/plugins/core.py
  src/gurk/lib/core/plugins/getters.py
  src/gurk/lib/core/plugins/install.py
  src/gurk/lib/core/plugins/uninstall.py
  src/gurk/lib/core/plugins/versioning.py
  src/gurk/lib/utils/git_query.py
  src/gurk/lib/utils/remotes.py
Due: none

Added pydantic for type checking
  .github/scripts/gurk_find_affected_tasks.py
  .github/scripts/gurk_update_plugins.py
  pyproject.toml
  src/gurk/cli/init.py
  src/gurk/cli/upgrade.py
  src/gurk/lib/core/context/logger.py
  src/gurk/lib/core/context/registry_manager.py
  src/gurk/lib/core/plugins/__init__.py
  src/gurk/lib/core/plugins/check.py
  src/gurk/lib/core/plugins/core.py
  src/gurk/lib/core/plugins/getters.py
  src/gurk/lib/core/plugins/gurk_argparser.py
  src/gurk/lib/core/plugins/versioning.py
  src/gurk/lib/core/plugins/virtual_environments.py
  src/gurk/lib/core/processor.py
  src/gurk/lib/core/runner.py
  src/gurk/lib/core/scheduler.py
  src/gurk/lib/helpers/python/common.py
  src/gurk/lib/helpers/python/task_parser.py
  src/gurk/lib/utils/common.py
  src/gurk/lib/utils/configs.py
  src/gurk/lib/utils/interface.py
  src/gurk/lib/utils/remotes.py
  src/gurk/lib/utils/runner.py
  src/gurk/lib/utils/scripts.py
  src/gurk/lib/utils/typed_dict.py
Due: none
