Repository ArturoRoberti/gurk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, format-yaml, format-json, clang-format, clang-tidy

.pre-commit-config.yaml:

repos:
# Core pre-commit hooks (general purpose)
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-json
  - id: check-merge-conflict
  - id: detect-private-key
# YAML checking with ruamel.yaml (supports custom !join tag)
- repo: local
  hooks:
  - id: check-yaml
    name: Check YAML with ruamel support
    entry: python3 .github/scripts/check_yaml.py
    language: python
    additional_dependencies: [ruamel.yaml]
    files: \.ya?ml$
# Formatting for shell scripts
- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.9.0-1
  hooks:
  - id: shfmt
    args: ["-i", "2", "-ci", "-w"]
# Shell script linting
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args: ["--severity=error"]
# Auto-format YAML and JSON(C) files (local hooks)
- repo: local
  hooks:
  - id: format-yaml
    name: Auto-format YAML files
    entry: python3 .github/scripts/format_yaml.py
    language: python
    additional_dependencies: [ruamel.yaml]
    files: \.ya?ml$
  - id: format-json
    name: Check & Auto-format JSON(C) files
    entry: python3 .github/scripts/format_jsonc.py
    language: python
    additional_dependencies: [commentjson]
    files: \.jsonc?$
# Python formatting and linting
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.10.1
  hooks:
  - id: isort
    language_version: python3
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black
    language_version: python3
    args: ["--line-length=79"]
- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    language_version: python3
# C++ formatting and linting
- repo: local
  hooks:
  - id: clang-format
    name: Format C++ files with clang-format
    entry: clang-format -i
    language: system
    files: \.(hpp|cpp|tpp|cc|h|c)$
- repo: local
  hooks:
  - id: clang-tidy
    name: Lint C++ files with clang-tidy
    entry: clang-tidy
    language: system
    files: \.(hpp|cpp|tpp|cc|h|c)$
# Security scan for secrets
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.18.2
  hooks:
  - id: gitleaks
    args: ["--no-banner", "protect", "--staged"]
# Bump pyproject.toml version (if necessary)
- repo: local
  hooks:
  - id: bump-version
    name: Bump version in pyproject.toml
    entry: python3 .github/scripts/bump_version.py
    language: python
    additional_dependencies: [packaging, requests, toml]

Refactored 'args' usage
  .github/scripts/format_yaml.py
  README.md
  TODO.md
  pyproject.toml
  src/cmstp/cli/main_setup.py
  src/cmstp/cli/pre_setup.py
  src/cmstp/config/enabled.yaml
  src/cmstp/core/task_processor.py
  src/cmstp/utils/cli.py
  src/cmstp/utils/tasks.py
  src/cmstp/utils/yaml.py
  tests/config/test_task_processor/custom/test_unallowed_arg.yaml
  tests/config/test_task_processor/custom/test_wrong_task_arg_type.yaml
Due: check-yaml, format-yaml

Added pre-setup prompt upon first usage
  TODO.md
  src/cmstp/cli/main_setup.py
  src/cmstp/cli/pre_setup.py
  src/cmstp/scripts/python/configurations/simple_configurations.py
  src/cmstp/scripts/python/helpers/processing.py
  src/cmstp/utils/cli.py
  src/cmstp/utils/interface.py
  src/cmstp/utils/patterns.py
Due: none

Smaller changes and documentation
  README.md
  TODO.md
  src/cmstp/core/logger.py
  src/cmstp/core/scheduler.py
  src/cmstp/core/task_processor.py
  src/cmstp/utils/cli.py
  src/cmstp/utils/command.py
  src/cmstp/utils/git_repos.py
Due: none

Cleanup up task processor
  README.md
  TODO.md
  pyproject.toml
  src/cmstp/config/default.yaml
  src/cmstp/config/enabled.yaml
  src/cmstp/core/task_processor.py
  src/cmstp/utils/cli.py
  src/cmstp/utils/tasks.py
Due: check-yaml, format-yaml

Multiple Features (#11)
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  README.md
  TODO.md
  pyproject.toml
  src/cmstp/cli/main_setup.py
  src/cmstp/cli/pre_setup.py
  src/cmstp/cli/utils.py
  src/cmstp/config/default.yaml
  src/cmstp/config/enabled.yaml
  src/cmstp/core/logger.py
  src/cmstp/core/scheduler.py
  src/cmstp/core/task_processor.py
  src/cmstp/main.py
  src/cmstp/scripts/bash/configurations/simple_configurations.bash
  src/cmstp/scripts/bash/helpers/_parsing.bash
  src/cmstp/scripts/bash/helpers/logging.bash
  src/cmstp/scripts/bash/installations/checks.bash
  src/cmstp/scripts/bash/installations/conda.bash
  src/cmstp/scripts/bash/installations/docker.bash
  src/cmstp/scripts/bash/installations/isaac.bash
  src/cmstp/scripts/bash/installations/nvidia.bash
  src/cmstp/scripts/bash/installations/ros.bash
  src/cmstp/scripts/bash/installations/simple_installations.bash
  src/cmstp/scripts/bash/uninstallations/simple_uninstallations.bash
  src/cmstp/scripts/python/configurations/simple_configurations.py
  src/cmstp/scripts/python/helpers/_parsing.py
  src/cmstp/scripts/python/helpers/processing.py
  src/cmstp/scripts/python/installations/environments.py
  src/cmstp/scripts/python/installations/js.py
  src/cmstp/scripts/python/installations/package_managers.py
  src/cmstp/utils/cli.py
  src/cmstp/utils/command.py
  src/cmstp/utils/git_repos.py
  src/cmstp/utils/interface.py
  src/cmstp/utils/logger.py
  src/cmstp/utils/patterns.py
  src/cmstp/utils/tasks.py
Due: check-yaml, format-yaml

Reverted OS classifier
  pyproject.toml
Due: none

Separated entrypoints
  README.md
  TODO.md
  pyproject.toml
  src/cmstp/cli/commands.py
  src/cmstp/cli/info.py
  src/cmstp/cli/setup.py
  src/cmstp/core/task_processor.py
  src/cmstp/main.py
  src/cmstp/scripts/bash/uninstallations/simple_uninstallations.bash
  src/cmstp/utils/cli.py
  src/cmstp/utils/common.py
  tests/test_task_processor.py
Due: none

Fixed PTY I/O errors and file logging
  TODO.md
  src/cmstp/cli/commands.py
  src/cmstp/core/scheduler.py
Due: none

Refactored a lot
  README.md
  TODO.md
  src/cmstp/cli/core.py
  src/cmstp/cli/setup.py
  src/cmstp/core/task_processor.py
  src/cmstp/main.py
  src/cmstp/utils/cli.py
  src/cmstp/utils/interface.py
Due: none

Updated marked logs to files
  .github/scripts/bump_version.py
  TODO.md
  src/cmstp/scripts/bash/configurations/checks.bash
  src/cmstp/scripts/bash/configurations/simple_configurations.bash
  src/cmstp/scripts/bash/helpers/_interface.bash
  src/cmstp/scripts/bash/helpers/logging.bash
  src/cmstp/scripts/bash/helpers/marking.bash
  src/cmstp/scripts/bash/installations/docker.bash
  src/cmstp/scripts/bash/installations/nvidia.bash
  src/cmstp/scripts/python/configurations/simple_configurations.py
  src/cmstp/scripts/python/helpers/_interface.py
  src/cmstp/scripts/python/installations/environments.py
  src/cmstp/scripts/python/installations/js.py
  src/cmstp/scripts/python/installations/package_managers.py
Due: none

Fixed version bump commit issues
  .github/scripts/bump_version.py
  .pre-commit-config.yaml
Due: check-yaml, format-yaml

Renamed script and config folders to match new entrypoints
  src/cmstp/config/configure/configure_bashrc.bash
  src/cmstp/config/configure/configure_filestructure.yaml
  src/cmstp/config/configure/configure_pinned_apps.txt
  src/cmstp/config/configure/configure_vscode_keybindings.jsonc
  src/cmstp/config/default.yaml
  src/cmstp/config/install/install_apt_packages.txt
  src/cmstp/config/install/install_conda_environments.jsonc
  src/cmstp/config/install/install_docker_images.jsonc
  src/cmstp/config/install/install_flatpak_packages.txt
  src/cmstp/config/install/install_js_repositories.txt
  src/cmstp/config/install/install_npm_packages.txt
  src/cmstp/config/install/install_pip_environments.jsonc
  src/cmstp/config/install/install_pipx_packages.txt
  src/cmstp/config/install/install_snap_packages.txt
  src/cmstp/config/install/install_vscode_extensions.txt
  src/cmstp/scripts/bash/configure/checks.bash
  src/cmstp/scripts/bash/configure/simple_configurations.bash
  src/cmstp/scripts/bash/install/checks.bash
  src/cmstp/scripts/bash/install/conda.bash
  src/cmstp/scripts/bash/install/docker.bash
  src/cmstp/scripts/bash/install/isaac.bash
  src/cmstp/scripts/bash/install/nvidia.bash
  src/cmstp/scripts/bash/install/ros.bash
  src/cmstp/scripts/bash/install/simple_installations.bash
  src/cmstp/scripts/bash/uninstall/simple_uninstallations.bash
  src/cmstp/scripts/python/configure/checks.py
  src/cmstp/scripts/python/configure/simple_configurations.py
  src/cmstp/scripts/python/install/checks.py
  src/cmstp/scripts/python/install/environments.py
  src/cmstp/scripts/python/install/js.py
  src/cmstp/scripts/python/install/package_managers.py
Due: check-yaml, format-yaml, format-json

Restructured yaml and config usage
  .github/scripts/check_yaml.py
  .pre-commit-config.yaml
  src/cmstp/config/default.yaml
  src/cmstp/core/logger.py
  src/cmstp/core/task_processor.py
  src/cmstp/scripts/bash/helpers/_interface.bash
  src/cmstp/scripts/bash/helpers/helpers.bash
  src/cmstp/scripts/bash/uninstall/checks.bash
  src/cmstp/scripts/python/uninstall/checks.py
  src/cmstp/utils/cli.py
  src/cmstp/utils/command.py
  src/cmstp/utils/tasks.py
  src/cmstp/utils/yaml.py
Due: check-yaml, format-yaml

Removed some TODOs
  src/cmstp/core/scheduler.py
  src/cmstp/core/task_processor.py
  src/cmstp/utils/command.py
  src/cmstp/utils/interface.py
  src/cmstp/utils/logger.py
  src/cmstp/utils/patterns.py
  src/cmstp/utils/tasks.py
Due: none

Restructured task utils
  src/cmstp/core/task_processor.py
  src/cmstp/utils/tasks.py
Due: none

Restructured preparation of doctored script
  src/cmstp/core/scheduler.py
  src/cmstp/core/task_processor.py
Due: none

United utils/common.py and utils/command.py
  src/cmstp/core/scheduler.py
  src/cmstp/core/task_processor.py
  src/cmstp/utils/command.py
  src/cmstp/utils/common.py
  src/cmstp/utils/interface.py
  src/cmstp/utils/scripts.py
  src/cmstp/utils/tasks.py
Due: none

Updated '_prepare_script_' to use 'get_block_spans' util
  pyproject.toml
  src/cmstp/core/scheduler.py
  src/cmstp/utils/scripts.py
Due: none

Added missing creation of 'SETUP_DONE_FILE' in setup itself
  pyproject.toml
  src/cmstp/cli/core.py
  src/cmstp/cli/setup.py
  src/cmstp/core/scheduler.py
  src/cmstp/core/task_processor.py
  src/cmstp/utils/cli.py
  src/cmstp/utils/common.py
  src/cmstp/utils/yaml.py
  tests/configs.py
  tests/tasks.py
Due: none

Implemented a bunch of TODOs
  src/cmstp/core/logger.py
  src/cmstp/core/scheduler.py
  src/cmstp/core/task_processor.py
  src/cmstp/utils/cli.py
  src/cmstp/utils/common.py
  src/cmstp/utils/interface.py
  src/cmstp/utils/scripts.py
  src/cmstp/utils/tasks.py
  tests/configs.py
  tests/scripts.py
  tests/tasks.py
Due: none

Added 'cmstp pytest' dev command and small fixes
  .github/CONTRIBUTING.md
  .github/workflows/reusable-pytests.yml
  pyproject.toml
  src/cmstp/cli/utils.py
  src/cmstp/core/scheduler.py
  src/cmstp/main.py
  src/cmstp/utils/interface.py
Due: check-yaml, format-yaml

Testing new 'simulate_hardware' detection
  .github/workflows/reusable-pytests.yml
  src/cmstp/utils/system_info.py
Due: check-yaml, format-yaml

Updated 'get_manufacturer' not to require sudo privileges
  src/cmstp/utils/system_info.py
  tests/configs.py
Due: none

Restructured 'ScriptPatterns'
  src/cmstp/utils/cli.py
  src/cmstp/utils/patterns.py
  src/cmstp/utils/scripts.py
  tests/scripts.py
Due: none

Implemented final core and pytest code TODOs
  .github/CONTRIBUTING.md
  TODO.md
  src/cmstp/config/configure/configure_filestructure.yaml
  src/cmstp/scripts/python/configure/simple_configurations.py
  src/cmstp/utils/common.py
  src/cmstp/utils/patterns.py
Due: check-yaml, format-yaml

United utils/common.py and utils/command.py (#15)
  .github/CONTRIBUTING.md
  .github/workflows/reusable-pytests.yml
  TODO.md
  pyproject.toml
  src/cmstp/cli/core.py
  src/cmstp/cli/setup.py
  src/cmstp/cli/utils.py
  src/cmstp/config/configure/configure_filestructure.yaml
  src/cmstp/core/logger.py
  src/cmstp/core/scheduler.py
  src/cmstp/core/task_processor.py
  src/cmstp/main.py
  src/cmstp/scripts/python/configure/simple_configurations.py
  src/cmstp/utils/cli.py
  src/cmstp/utils/command.py
  src/cmstp/utils/common.py
  src/cmstp/utils/interface.py
  src/cmstp/utils/patterns.py
  src/cmstp/utils/scripts.py
  src/cmstp/utils/system_info.py
  src/cmstp/utils/tasks.py
  src/cmstp/utils/yaml.py
  tests/configs.py
  tests/scripts.py
  tests/tasks.py
Due: check-yaml, format-yaml

Added an 'example' folder with a README
  .github/PULL_REQUEST_TEMPLATE/feature_template.md
  .github/PULL_REQUEST_TEMPLATE/fix_template.md
  README.md
  example/README.md
  pyproject.toml
Due: none

Collapsed all documentation into docs/
  .github/ci_configs/install-apt-packages.yaml
  .github/ci_configs/install-snap-packages.yaml
  README.md
  docs/dev/commands.md
  docs/dev/configs.md
  docs/dev/pre_commit.md
  docs/dev/scheduler.md
  docs/dev/scripts.md
  docs/dev/task_processor.md
  docs/dev/tasks.md
  docs/dev/utils.md
  docs/dev/workflows.md
  docs/knowledge/commands.md
  docs/knowledge/configs.md
  example/README.md
  src/cmstp/cli/info.py
  src/cmstp/scripts/bash/helpers/_interface.bash
Due: check-yaml, format-yaml

Implement documentation (#16)
  .github/PULL_REQUEST_TEMPLATE/feature_template.md
  .github/PULL_REQUEST_TEMPLATE/fix_template.md
  .github/ci_configs/install-apt-packages.yaml
  .github/ci_configs/install-snap-packages.yaml
  README.md
  docs/dev/commands.md
  docs/dev/configs.md
  docs/dev/pre_commit.md
  docs/dev/scheduler.md
  docs/dev/scripts.md
  docs/dev/task_processor.md
  docs/dev/tasks.md
  docs/dev/utils.md
  docs/dev/workflows.md
  docs/knowledge/commands.md
  docs/knowledge/configs.md
  example/README.md
  pyproject.toml
  src/cmstp/cli/info.py
  src/cmstp/scripts/bash/helpers/_interface.bash
Due: check-yaml, format-yaml

Removed some done TODOs
  .github/CONTRIBUTING.md
  LICENSE
  TODO.md
  pyproject.toml
  src/cmstp/cli/info.py
  src/cmstp/config/default.yaml
  src/cmstp/scripts/python/helpers/processing.py
Due: check-yaml, format-yaml

Restructured core cli
  docs/knowledge/commands.md
  src/cmstp/cli/core.py
  src/cmstp/core/task_processor.py
  src/cmstp/utils/cli.py
  tests/tasks.py
Due: none

Reset project version
  README.md
  pyproject.toml
Due: none

Minor fixes. Also, updated PYPI_API_TOKEN
  README.md
  src/gurk/utils/cli.py
Due: none

Some fixes when renaming to 'gurk' (#18)
  README.md
  src/gurk/utils/cli.py
Due: none

Update README with cover image and title
  README.md
Due: none

image added
  .DS_Store
  assets/cover.png
Due: none
